.login-page {
    width: 500px;
    padding: 8% 0 0;
    margin: auto;
}
.login-form {
    position: relative;
    background: yellow;
    max-width: 360px;
    margin: auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 grey;
}
.login-form input {
        font-family: "Roboto", sans-serif;
        background: white;
        width: 100%;
        border: 0;
        margin: 15px 0;
        padding: 15px;
        font-size: 14px;
}
.login_button{
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: bold;
	cursor:pointer;
}